Repository Camier/2SEARX2COOL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @2searx2cool-maintainers, @2searx2cool-docs, @2searx2cool-core, @2searx2cool-ui, @2searx2cool-security, @2searx2cool-devops, @2searx2cool-qa, @2searx2cool-plugins, @2searx2cool-engines, @2searx2cool-performance

fix: Resolve Electron app startup and window visibility issues
  .env.example
  electron.vite.config.ts
  package-lock.json
  package.json
  src/main/analytics/Analytics.ts
  src/main/config/ConfigStore.ts
  src/main/database/DatabaseManager.ts
  src/main/security/SecurityManager.ts
  src/main/updates/UpdateManager.ts
  src/main/window.ts
  src/refactoring-system/refactoring-system.ts
  src/renderer/components/ErrorBoundary.tsx
  src/renderer/components/HardwareControls.tsx
  src/renderer/components/LoadingSpinner.tsx
  src/renderer/components/NotificationSystem.tsx
  src/renderer/components/PluginManager.tsx
  src/renderer/components/ServerStatus.tsx
  src/renderer/components/SettingsPanel.tsx
  src/renderer/context/AppContext.tsx
  src/renderer/context/index.ts
  src/renderer/global.d.ts
  src/renderer/hooks/index.ts
  src/renderer/hooks/useHardware.ts
  src/renderer/hooks/useServerStatus.ts
  src/renderer/hooks/useSettings.ts
  src/renderer/index.html
  src/renderer/main.tsx
  src/renderer/styles/app.css
  src/renderer/utils/dynamicImports.ts
Owners: @2searx2cool-maintainers, @2searx2cool-core, @2searx2cool-security, @2searx2cool-ui

feat: Week 3 Day 2 - Enhanced local library + SearXNG unified search
  WEEK3-DAY2-NOTES.md
  package-lock.json
  package.json
  src/main/config/FingerprintConfig.ts
  src/main/services/FingerprintService.ts
  src/main/services/LibrarySearchService.ts
  src/main/services/MetadataExtractor.ts
  src/main/services/UnifiedSearchManager.ts
  src/main/services/test-fingerprinting.ts
  src/main/services/test-unified-search.ts
  test-acrcloud.js
  test-week3-day2.js
Owners: @2searx2cool-docs, @2searx2cool-maintainers, @2searx2cool-core

feat: Complete Week 4 Day 2 - Music Player Integration with Play Tracking
  CHECKPOINT-W4D2-COMPLETE.md
  src/main/config/UnifiedConfigManager.ts
  src/main/database/PersonalScoreSchema.ts
  src/main/index.ts
  src/main/ipc.ts
  src/main/ipc/config-handlers.ts
  src/main/ipc/fileAssociations.ts
  src/main/ipc/notifications.ts
  src/main/ipc/playerHandlers.ts
  src/main/ipc/searchHandlers.ts
  src/main/services/MusicPlayerService.ts
  src/main/services/OfflineCacheManager.ts
  src/main/services/OfflineSearchService.ts
  src/main/services/PersonalScoreService.ts
  src/main/services/PersonalizedSearchService.ts
  src/main/services/test-offline-mode-simple.js
  src/main/services/test-offline-mode.ts
  src/main/services/test-personal-scoring-simple.js
  src/main/services/test-personal-scoring.ts
  src/main/shortcuts.ts
  src/main/tray.ts
  src/main/window.ts
  src/renderer/App.tsx
  src/renderer/components/EnhancedSearchInterface.tsx
  src/renderer/components/MusicPlayer.tsx
  src/renderer/components/OfflineIndicator.tsx
  src/renderer/components/PersonalScoreComponents.tsx
  src/renderer/components/QueueManager.tsx
  src/renderer/components/SearchFilters.tsx
  src/renderer/components/SearchResultCard.tsx
  src/renderer/components/SearchSuggestions.tsx
  src/utils/debounce.ts
  test-music-player.js
  test-search-interface.js
  week4-day1-summary.md
  week4-day2-summary.md
Owners: @2searx2cool-docs, @2searx2cool-core, @2searx2cool-ui, @2searx2cool-maintainers

feat: Implement systematic fix for dependency conflicts and WSL compatibility
  SYSTEMATIC-FIX-IMPLEMENTATION.md
  package.json
  src/main/index.ts
Owners: @2searx2cool-docs, @2searx2cool-maintainers, @2searx2cool-core

fix: Add Windows compatibility and enhanced WSL configuration
  WINDOWS-SETUP.md
  WSL-ALTERNATIVE.md
  src/main/index.ts
Owners: @2searx2cool-docs, @2searx2cool-core

docs: Create comprehensive checkpoint for cross-platform deployment issues
  CHECKPOINT-CROSS-PLATFORM-ISSUES.md
Owners: @2searx2cool-docs

fix: Remove USB dependency for Windows compatibility
  CHECKPOINT-CROSS-PLATFORM-ISSUES.md
  fix-windows-deployment.bat
  fix-windows-deployment.ps1
  package.json
  webpack.optimization.config.js
Owners: @2searx2cool-docs, @2searx2cool-maintainers, @2searx2cool-devops

fix: Add asarUnpack for native modules and manual build workflow
  .github/workflows/manual-build.yml
  package.json
Owners: @2searx2cool-devops, @2searx2cool-maintainers

feat: Complete playlist system implementation
  src/main/database/PlaylistSchema.ts
  src/main/ipc/playlistHandlers.ts
  src/main/services/PlaylistService.ts
  src/renderer/App.tsx
  src/renderer/components/playlists/DragDropTrackList.css
  src/renderer/components/playlists/DragDropTrackList.tsx
  src/renderer/components/playlists/PlaylistDetailView.css
  src/renderer/components/playlists/PlaylistDetailView.tsx
  src/renderer/components/playlists/PlaylistEditor.css
  src/renderer/components/playlists/PlaylistEditor.tsx
  src/renderer/components/playlists/PlaylistManager.css
  src/renderer/components/playlists/PlaylistManager.tsx
  src/renderer/components/playlists/PlaylistModal.css
  src/renderer/components/playlists/PlaylistModal.tsx
  src/renderer/components/playlists/PlaylistShare.css
  src/renderer/components/playlists/PlaylistShare.tsx
  src/renderer/components/playlists/SmartPlaylistBuilder.css
  src/renderer/components/playlists/SmartPlaylistBuilder.tsx
  src/renderer/components/playlists/index.ts
Owners: @2searx2cool-core, @2searx2cool-ui

style: Add library browser component styles
  src/renderer/components/library/LibraryBrowser.css
  src/renderer/components/library/LibraryFilters.css
  src/renderer/components/library/LibraryGrid.css
  src/renderer/components/library/LibraryList.css
  src/renderer/components/library/LibrarySorter.css
  src/renderer/components/library/LibraryStats.css
Owners: @2searx2cool-ui

fix: Add asarUnpack for native modules and manual build workflow
  .github/workflows/manual-build.yml
  package.json
Owners: @2searx2cool-devops, @2searx2cool-maintainers

fix: Update GitHub Actions to v4 for artifact compatibility
  .github/workflows/manual-build.yml
Owners: @2searx2cool-devops

fix: Add working package.json and package-lock.json for Windows build
  package-lock.json
  package.json
Owners: @2searx2cool-maintainers

fix: Remove Linux-specific rollup dependency for cross-platform compatibility
  package-lock.json
  package.json
Owners: @2searx2cool-maintainers

.github/CODEOWNERS:

# 2SEARX2COOL Code Owners
# These owners will be automatically requested for review when someone opens a pull request

# Global owners
* @2searx2cool-maintainers

# Documentation
*.md @2searx2cool-docs
/docs/ @2searx2cool-docs
/README.md @2searx2cool-maintainers @2searx2cool-docs

# Core application
/src/main/ @2searx2cool-core
/src/renderer/ @2searx2cool-ui
/src/preload/ @2searx2cool-security

# Build and configuration
/build/ @2searx2cool-devops
/scripts/ @2searx2cool-devops
/.github/ @2searx2cool-devops
/package.json @2searx2cool-maintainers
/tsconfig.json @2searx2cool-maintainers
/webpack.*.js @2searx2cool-devops

# Security-sensitive files
/src/main/security/ @2searx2cool-security
/src/main/auth/ @2searx2cool-security
*.key @2searx2cool-security
*.pem @2searx2cool-security

# Testing
/tests/ @2searx2cool-qa
/e2e/ @2searx2cool-qa
*.test.ts @2searx2cool-qa
*.spec.ts @2searx2cool-qa

# Plugins
/plugins/ @2searx2cool-plugins
/src/plugin-api/ @2searx2cool-plugins @2searx2cool-core

# Search engines
/src/engines/ @2searx2cool-engines
/src/search/ @2searx2cool-engines

# Performance-critical code
/src/main/performance/ @2searx2cool-performance
/src/main/cache/ @2searx2cool-performance
/src/main/utils/MemoryManager.ts @2searx2cool-performance
/src/main/utils/StartupPerformance.ts @2searx2cool-performance
